@charset "UTF-8";

#conteudo {
		width: 100%;
		float: right;		
		}

.boxImage{
    display: grid;

    align-content: end;
    gap: 50px;
    background-color: brown;
    border: solid black;

}
        


img {


  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

figure {
    display: inline-block;
    border: 0px dotted gray;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}

aside p {
	text-align: center;
}

h1{
	text-align: center;
}





